@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #ff0000;
  --black: #000000;
  --white: #ffffff;
  --gray: #808080;
  --light-gray: #f4f4f4;
  --dark-gray: #333333;
  --blue: #0000ff;
  --green: #008000;
  --yellow: #ffff00;
  --purple: #800080;
}
* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
button {
  font-family: "Poppins", sans-serif;
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  /* font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; */
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 72px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
}
.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
 
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
}
.hero p {
  font-size: 24px;
  font-weight: 600;
  color: var(--gray);
  max-width: 500px;
}
.hero-buttons {
display: flex;
 gap: 40px;
}
.btn-secondary {
  background: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);

}
.shoping p {
  font-size: 14px;
 margin-bottom: 8px;
}
.brand-icons{
  
  display: flex;
  gap: 14px;

}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
